#NavbarName {
Background-color: #4aaaa5;
color: white;
padding: 20px;
margin-left: -5px;
font-size: 20pt;
font-family: arial;
}

#NavbarCSS {
width: 100%;
max-width: 960px;
margin: auto;
background-color: #ffffff;
border: 2px solid #dddddd;

}

/* Change Margins to Bootstrap Containers!!! */
#mainContainer {

width: 100%; 
max-width: 960px;
min-height: 500px;
margin: auto;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
background-color: #ffffff;
margin-top: 20px;
margin-bottom: 60px;
border: 2px solid #dddddd;
}

/* * { */
  /* box-sizing: border-box; */
/* } */

h1 {

  color: #4aaaa5;
  font-size: 20pt;
  font-family: arial;
}

body {
  background-image: url("../images/triangular.png");
  background-color: #cccccc;
 }

 .auth-image {
  float: left;
  width: 280px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

p {
font-family: arial; 
line-height: 1.6;
}

footer {
  padding: 15px 0;
  position:fixed;
  bottom: 0;
  left: 0;
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
  margin-top: 20px;
  width: 100%;
  z-index: 99;
}

.pageHeader {
  border-bottom: 3px solid #dddddd;
  margin-bottom: 15px;


}

.portfolioImage {

  width: 100%;
  height: 200px;
  

}




#LeftPortfolioLabelID{
  padding-left: 0;
  padding-right: 0;
  margin-top: -65px;
  
  }
  
  #MiddlePortfolioLabelID {
  
  padding-left: 0;
  padding-right: 0;
  margin-top: -65px;
  }


  .portfolioLabel
  { 
    width: 100%;
    background-color: #4aaaa5;
    z-index: 1;
    text-align: center;
    color: white;
    padding-top: 8px;
    padding-bottom: 1px; 
  }

  #submit-successful-text{
    padding-top: 15px;
    color: #4aaaa5;
    padding-left: 15px;

  }
  
  .project {
    border-bottom: 2px solid #dddddd;
    padding-bottom:10px;
    margin-bottom: 10px;

  }

  #lastproject {

    border-style: none;
  }

  #contactInfo {

    position: relative; 
    margin-top: -35px;
    margin-left: 80px;
    margin-right: 30px;
    text-align:right;
    overflow-wrap: break-word;

  }

  #index_text {
    
    padding-left: 15px;
    padding-right: 15px;
  }